/*
* Fade Remove
**/

.fadeRemove
{
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 1s, 0s;
  transition-delay: 0s, 1s;
}

.fadeShow
{
  opacity: 1;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;

  animation: hideMe 5s 1;
  -webkit-animation: hideMe 5s 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

@keyframes hideMe {
  0% {
    opacity: 1;
  }
  10% {
       opacity: 0;
     }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#playList {
  text-align: center;
}

.wrap_song {
 display: inline-block;
  width: 23%;
  margin: 1%;
  position: relative;
}

.wrap_song .song {
  width: 100%;
  cursor: pointer;
}

.playPause {
  width: 25%;
  position: absolute;
  bottom: 120px;
  right: 100px;
  cursor: pointer;
}


#playList {
  text-align: left;
  margin: 20px;

}
.playList h2 {
  text-align: center;
}
.profile label {
  text-align: center;
  font-weight: bold;
  vertical-align: top;
  line-height: 50px;
}

.galler_ {
  width: 200px;
  height: 200px;
  border: 2px solid #fafafa;
  padding: 10px;
  border-radius: 100%;
}

.profile{text-align: center}

.profile div {
  display: inline-block;
  vertical-align: middle;
  margin: 15px;
  text-align: left;
}
