.header {
  background: #fafafa;
  padding:20px;
  clear: both;
  border-bottom:1px solid rgba(202, 202, 202, .5);
  font-size: 12px;
}
.header p {
  margin: 0 0 0 10px;
  font-weight: bold;
}

.header .red {
  color: red;
}

.header  input {
  width: 90%;
  padding: 10px 5px;
  border-radius: 5px;
}

.header .btn{
  width: 3%;
  margin: 0 5px;
  background: #CACACA;
  border: 1px solid ;
  cursor: pointer;
}
.header .btn:hover {
  background: #9E9E9E;
}

.right {
  float: right;
}
